{% extends 'base.html' %}

{% block content %}

<div class="dashboard-page">

    <div class="dashboard-header">
        <h1>Change Password</h1>
        <p>Change the password for {{ user.username }}</p>
    </div>

    <div class="form-container">

        <form method="POST">

            <label>New Password</label>
            <input type="password" name="password" required>

            <br><br>

            <button type="submit" class="dashboard-button">
                Change Password
            </button>

        </form>

    </div>

    <br>

    <a href="{{ url_for('users') }}" class="back-button">
        ← Back
    </a>

</div>

{% endblock %}